<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fjut.ywj.mapper.CommentMapper">

    <select id="selectCommentAll" resultType="edu.fjut.ywj.dao.Comment">
        SELECT * FROM comments
    </select>
    <select id="selectCommentById" resultType="edu.fjut.ywj.dao.CommentView">
        SELECT c1.id AS 'id' ,a1.netName AS 'accountName',c1.time AS 'time' ,c2.id AS 'lastCommentView.id',a2.netName AS
         'lastCommentView.accountName' , c2.time AS 'lastCommentView.time' ,c2.mainText AS 'lastCommentView.mainText' ,
         c1.mainText AS mainText FROM comments	c1 LEFT JOIN comments c2  ON(c1.lastCommentsId=c2.id)  LEFT JOIN account
           a1 ON(c1.accountId=a1.id) LEFT JOIN account a2 ON(c2.accountId=a2.id) WHERE c1.blogId =#{id} ORDER BY c1.time DESC
    </select>

</mapper>