<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fjut.ywj.mapper.TestMapper">
    <!--<select id="getAccountByNameAndPassword" parameterType="edu.fjut.ywj.dao.Account"-->
            <!--resultType="edu.fjut.ywj.dao.Account">-->
      <!--SELECT * FROM account WHERE name=#{name} AND password=#{password}-->
    <!--</select>-->
   <!--<select id="findAccountByName" parameterType="String"-->
           <!--resultType="edu.fjut.domain.Account">-->
       <!--SELECT * FROM account WHERE username LIKE concat('%',#{value},'%')-->
   <!--</select>-->
    <!--<insert id="addAccount" parameterType="edu.fjut.domain.Account">-->
        <!--INSERT INTO account(username,balance) VALUES(#{username},#{balance})-->
    <!--</insert>-->
    <!--<select id="findAll" resultType="edu.fjut.domain.Account">-->
        <!--SELECT * FROM account-->
    <!--</select>-->
    <insert id="add" parameterType="Integer">
        INSERT INTO Test(id) VALUE(#{id})
    </insert>

    <update id="update" parameterType="edu.fjut.ywj.dao.Test">
        UPDATE test SET id3=#{s},id4=#{s},id5=#{s},id6=#{s},id7=#{s},id8=#{s},id9=#{s},id10=#{s} WHERE id=#{i}
    </update>
</mapper>